{% extends 'admin.html.twig' %}


{% block title %}Product index{% endblock %}

{% block body %}
    <div class="main-container" >
				<div class="card-box mb-30">
					<h2 class="h4 pd-20"></h2>
					<table class="data-table table nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Product</th>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Description</th>
                                <th>Shops</th>
                                <th>Category</th>
                                <th>Supplier</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
                                {% for product in products %}  
						<tbody>
							<tr>
								<td class="table-plus">
									<img
										src="vendors/images/product-1.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">{{ product.name }}</h5>
									
								</td>
								<td>{{ product.price }} $</td>
								<td>{{ product.quantity }}</td>
								<td>{{ product.description }}</td>
								<td>{{ product.shops}}</td>
                                <td>{{ product.category}}</td>
                                <td>{{ product.supp }}</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="{{ path('app_product_show', {'id': product.id}) }}"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="{{ path('app_product_edit', {'id': product.id}) }}"
												><i class="dw dw-edit2"></i> Edit</a
											>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
                               {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        
					</table>
				</div>
      </div>
      <a href="{{ path('app_product_new') }}">Create new</a>
</div>

{% endblock %}
