{% extends 'admin.html.twig' %}
{% block title %}Shops index{% endblock %}

{% block body %}
    <h1>Shops index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nameshop</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.nameshop }}</td>
                <td>{{ shop.address }}</td>
                <td>
                    <a href="{{ path('app_shops_show', {'id': shop.id}) }}">show</a>
                    <a href="{{ path('app_shops_edit', {'id': shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shops_new') }}">Create new</a>
{% endblock %}
