{% extends 'admin.html.twig' %}
{% block title %}Shops{% endblock %}

{% block body %}
    <h1>Shops</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shop.id }}</td>
            </tr>
            <tr>
                <th>Nameshop</th>
                <td>{{ shop.nameshop }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ shop.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shops_index') }}">back to list</a>

    <a href="{{ path('app_shops_edit', {'id': shop.id}) }}">edit</a>

    {{ include('shops/_delete_form.html.twig') }}
{% endblock %}
